<p>Dear {{ name }},</p>
<p>Thank you for your Annual Subscription plan. Here is your payment details</p>
<p>
    <li>
        <ul>Payment Date: {{date}}</ul>
        <ul>Payment Amount: {{amount}}</ul>
        <ul>Discount: {{discount}}</ul>
        <ul>Recommended by: {{recommenderEmail}}</ul>
    </li>    
</p>

<p>Best Regards.</p>
